@page
@model ElearningApp.Pages.Exercises.CategoryEditModel
@{
	Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<style>
	body {
		color: black;
		font-family: cursive
	}

	form {
		font-size: 14px;
		max-width: 400px;
		margin: auto;
		margin-top: 20px;
	}

	label {
		font-weight: bold;
		margin-bottom: 5px;
	}

	.row {
		margin-bottom: 15px;
	}
</style>
<h3>Edit Category</h3>
<form method="POST">
	<input type="hidden" name="id" value="@Model.categoryinfo.Id" />
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Category</label>
		<div class="col-sm-9">
			<textarea class="form-control" name="CategoryName" value="@Model.categoryinfo.CategoryName">@Model.categoryinfo.CategoryName</textarea>
		</div>
	</div>
	
	@if (Model.successMessage.Length > 0)
	{
		<div class="row mb-3">
			<div class="col-sm-9">
				<div class="alert alert-success alert-dismissible fade show " role="alert">
					<strong>@Model.successMessage</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
				</div>
			</div>
		</div>
	}
	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="offset-sm-3 col-sm-3 d-grid">
			<a class="btn btn-primary" href="/Index" role="button">Cancel</a>
		</div>
	</div>

</form>
